@model Pokedex.Models.PokemonDetails.Root

@{
    ViewData["Title"] = "Details";
}

<h1 class="DetalhePoke">@Model.name</h1>
<hr />

<div>
    <div class=@Model.types[0].type.name>
        <img src="@Model.imageUrl" />
    </div>
    <br />
    <label>
        <i class="fa-solid fa-id-card-clip"></i>
        Id: 
        <span>@Model.id</span>
    </label>
    <br />
    <label>
        Nome: 
        <span>@Model.name</span>
    </label>
    <br />
    <label>
        Altura: 
        <span>@Model.height</span>
    </label>
    <br />
    <label>
        Experiência: 
        <span>@Model.base_experience</span>
    </label>
    <br />
    <label>
        Tipos:
        <span>@Model.types[0].type.name</span>
    </label>

</div>
